DJANGO_SETTINGS_MODULE=group_finance.settings.dev
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=group_finance
POSTGRES_USER=group_finance
POSTGRES_PASSWORD=group_finance
POSTGRES_HOST=db
POSTGRES_PORT=5432

